

  <nav class="menuLateral">
    <ul>
      <li>
        <a href="" title="Time">
          <figure class="imageMenu">
            <img src="..\assets\imgs\calendar.png" alt="Time">
          </figure>
          <span class="textoDescritivo">
            Time
          </span>
        </a>
      </li>
      <li>
        <a href="" title="Expense">
          <figure class="imageMenu">
            <img src="..\assets\imgs\document.png" alt="Expense">
          </figure>
          <span class="textoDescritivo">
            Expense</span>
        </a>
      </li>
      <li>
        <a href="" title="Location">
          <figure class="imageMenu">
            <img src="..\assets\imgs\placeholder.png" alt="Location">
          </figure>
          <span class="textoDescritivo">Location</span>
        </a>
      </li>
      <li>
        <a href="" title="Other Actions">
          <figure class="imageMenu">
            <img src="..\assets\imgs\settings.png" alt="Other Actions">
          </figure>
          <span class="textoDescritivo">Other Actions</span>
        </a>
      </li>
    </ul>
  </nav>

