.menuLateral {
    background: white;
    margin: 0;
    width: 10%;
    text-align: center;
    margin-left: 5px;
    padding: 20px 0 50px 0;
    float: left;
}

.imageMenu {
    height: 30px;
    width: 30px;
    max-width: 100%;
    align-content: center;
    margin-top: 30px;
}

.imageMenu img {
    width: 100%;
    max-width: 100%;
    position: relative;
}

